/* button */
.btn-subscribe{
    margin-top: 40px;
    margin-left: 260px;

    cursor: pointer;
    background-color: #5CEBC0;
    box-shadow: 2px 2px 2px 1px #31c694;
    border: none;
    padding: 20px;
    padding-top: 14px;
    padding-bottom  : 14px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;

    transition: 0.5s;
}

.btn-subscribe-2{
    margin-left: 0px;
    margin-top: 14px;
    margin-bottom: 50px;

    padding: 15px;
    padding-top: 10px;
    padding-bottom : 10px;
    font-size: 18px;
}

.btn-subscribe:hover{
    background-color: #525152;
    box-shadow: none;
}

.display button{
    cursor: pointer;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #429B86;
    color: white;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 10px;

    transition: 0.5s;
}

/* button preco*/
.btn-row{
    margin-right: 143px;
}

.btn-register{
    position: absolute;
    margin-top: 590px;

    cursor: pointer;
    background-image: linear-gradient( to right, #38E5AC, #269D76);
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;

    transition: 0.5s;
}

.btn-register2{
    margin-top: 550px;
}

.btn-register:hover{
    background-image: linear-gradient( to right, #3df7b9, #2ed19b);
}

.display button:hover   {
    background-color: #525152;
    box-shadow: none;
} 
/* links nav */
nav ul li a{
    cursor: pointer;
    transition: 0.5s;
}

nav ul li a:hover{
    box-shadow: 2px 2px  white;
}