/* button */
.btn-subscribe{
    margin-top: 40px;
    margin-left: 260px;

    cursor: pointer;
    background-color: #5CEBC0;
    box-shadow: 2px 2px 2px 1px #31c694;
    border: none;
    padding: 20px;
    padding-top: 14px;
    padding-bottom  : 14px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.btn-subscribe:hover{
    background-color: #525152;
    box-shadow: none;

    transition: 0.5s;
}

/* links nav */
nav ul li a{
    transition: 0.5s;
}

nav ul li a:hover{
    box-shadow: 2px 2px  white;
}
