/* container  */
.container-footer{
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    margin-left: 180px;
}

/* footer top*/
.inp{
    background-color: #BFBFBF;
    margin-bottom: 20px;
}

/* footer bottom*/
.footer-bottom{
    background-color: #BFBFBF;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

#digitek{
    width: 200px;
}

#face{
    width: 40px;
}

#insta{
    width: 40px;
}