@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}


/* background */
.img-background {
    background-image: url(../imagens/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* container adjustment */
.container-height{
    height: 100vh;
    padding: 0;
}
#row{
    padding-top: 60px;
    width: 100vw;
}
#logo-1{
    height: 140px;
}

/* article */
article{
    color: #525152;
    margin-left: 95px;
}
#p-1{
    font-size: 32px;
    margin-left: 15px;
}
#p-2{
    font-size: 25px;
    color: white;
}

/* NAV */
.logo{
    position: absolute;
    background-color: black;
}

nav{
    background-image: linear-gradient( to right, #38E5AC, #38CECE);
    padding: 20px;
}

.nav{
    background-image: linear-gradient( to right, #38E5AC, #38CECE);
}
