/* background */
.back-color{
    background-image: linear-gradient( to right, #3deeb3, #38CECE);
}

/* content */
.container-precos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    margin-left: 180px;
}

/* cards */
.precos-center{
    position: relative;
}

.cards .row{
    padding-top: 6px;
}

.cards{
    margin-bottom: 60px;
    margin-top: 30px;
}
.cards2{
    position: absolute;
    margin-bottom: 60px;
    margin-top: 30px;
}

.cards .row .col{
    height: 117vh;
}

.cards .row .col{
    background-image: linear-gradient( to bottom, #4ED4C1, #4ED4C1);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}
 
/* sm */
.cards2 .row .col-sm{
    height: 108vh;
}

.cards2 .row .col-sm{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border-radius: 30px;
}

/* md */
.cards2 .row .col-md{
    height: 110vh;
}

.cards2 .row .col-md{
    background-image: linear-gradient( to bottom, #e4e4e4, #EBEBEB);
    margin-left: 35px;
    margin-right: 55px;
    border-radius: 30px;
}

/* description */
.ul-description{
    text-align: left;
    font-size: 30px;
    padding-left: 1px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 110px;
}

.ul-description-margin{
    margin-top: 70px;
}

.ul-description li{
    height: 35px;
}

.ul-description .row{
    height: 20px;
}

/* bar */
#icon-email{
    width: 50px;
    margin-right: 20px;
}

.display{
    padding: 20px;
    padding-left: 270px;
    display: flex;
    align-items: center;
    color: white;
}

.display input{
    padding-left: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 7px;
}