@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins2:wght@900&display=swap');

/* background */
.img-background2{
    background-image: url(../imagens/bg-vantagens.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* container */
.container-vantagens{
    margin-left: 50px;
}

.container-height2{
    height: 110vh;
    padding: 0;
}