@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins2:wght@900&display=swap');

/* background */
.img-background3{
    background-image: url(../imagens/bg-visao-cliente.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    height: 100%;
}

.container-height3{
    height: 100vh;
    width: 100vw;
}